Git Tests/force-app/main/default/default/flows/Case_Timeline.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_elapsed_Time_Is_Closing</name>
        <label>Calculate elapsed Time</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>Timeline</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Close_Timeline_Is_Closing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>timelines</name>
            <value>
                <elementReference>Get_Timelines_Is_Closing</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Calculate_elapsed_Time_Owner_Changed</name>
        <label>Calculate elapsed Time</label>
        <locationX>996</locationX>
        <locationY>1487</locationY>
        <actionName>Timeline</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Close_Timeline_Owner_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>timelines</name>
            <value>
                <elementReference>Get_Timelines_Owner_Changed</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Has_Owner_Changed</name>
        <label>Has Owner Changed?</label>
        <locationX>1430</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>It has not</defaultConnectorLabel>
        <rules>
            <name>It_has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Timelines_Owner_Changed</targetReference>
            </connector>
            <label>It has</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Timeline_Is_Closing</name>
        <label>Has Timeline?</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Closing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Timelines_Is_Closing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_elapsed_Time_Is_Closing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Timeline_Owner_Changed</name>
        <label>Has Timeline?</label>
        <locationX>1227</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Insert_Timeline_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Closing_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Timelines_Owner_Changed</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_a_group_new_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_group_new_0_0</name>
        <label>Is it a group?</label>
        <locationX>996</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Were_the_previous_owner_from_the_same_department</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_is_a_group_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_elapsed_Time_Owner_Changed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_closing</name>
        <label>Is it closing?</label>
        <locationX>938</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Has_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>It is not</defaultConnectorLabel>
        <rules>
            <name>It_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Timelines_Is_Closing</targetReference>
            </connector>
            <label>It is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_new</name>
        <label>Is it new?</label>
        <locationX>494</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Is_it_closing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Timeline</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_the_previous_owner_from_the_same_department</name>
        <label>Were the previous owner from the same department?</label>
        <locationX>1150</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Calculate_elapsed_Time_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_the_owner_was</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Assigned_department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Assigned_department__c</elementReference>
                </rightValue>
            </conditions>
            <label>Yes the owner was</label>
        </rules>
    </decisions>
    <formulas>
        <name>ActualOwnerName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Assigned_department__c}), &quot;Usuário sem departamento&quot;, {!$Record.Assigned_department__c})</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case Timeline {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Timeline</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Timeline</name>
        <label>Insert Timeline</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ActualOwnerName</elementReference>
            </value>
        </inputAssignments>
        <object>Timeline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Timeline_changed</name>
        <label>Insert Timeline</label>
        <locationX>1227</locationX>
        <locationY>1823</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ActualOwnerName</elementReference>
            </value>
        </inputAssignments>
        <object>Timeline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Timelines_Is_Closing</name>
        <label>Get Timelines</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Timeline_Is_Closing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Timeline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timelines_Owner_Changed</name>
        <label>Get Timelines</label>
        <locationX>1227</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Timeline_Owner_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Timeline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Timeline_Is_Closing</name>
        <label>Close Timeline</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <inputReference>Calculate_elapsed_Time_Is_Closing</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Timeline_Owner_Changed</name>
        <label>Close Timeline</label>
        <locationX>996</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Insert_Timeline_changed</targetReference>
        </connector>
        <inputReference>Calculate_elapsed_Time_Owner_Changed</inputReference>
    </recordUpdates>
    <start>
        <locationX>368</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_it_new</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
