Git Tests/force-app/main/default/default/flows/Case_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>1029</locationX>
        <locationY>2099</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Case_Order_Amount</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ApproversIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>ApprovalComment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Reset_Approvers_Ids</name>
        <label>Reset Approvers Ids</label>
        <locationX>897</locationX>
        <locationY>1643</locationY>
        <assignmentItems>
            <assignToReference>ApproversIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ApproversIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Standard_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_approval_comment_material</name>
        <label>Set approval comment material</label>
        <locationX>1744</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ApprovalComment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderAmountOutOfApprovalScope</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_coordinator_approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_coordinator_approver</name>
        <label>Set coordinator approver</label>
        <locationX>1029</locationX>
        <locationY>1283</locationY>
        <assignmentItems>
            <assignToReference>ApproversIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_sector.Coordenador__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_sector.Coordenador__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_approver_information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_manager_approver</name>
        <label>Set manager approver</label>
        <locationX>1480</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ApproversIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_sector.Gerente__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_approver_null_or_inactive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_standard_approver</name>
        <label>Set standard approver</label>
        <locationX>897</locationX>
        <locationY>1883</locationY>
        <assignmentItems>
            <assignToReference>ApproversIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Standard_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_the_approver_null_or_inactive</name>
        <label>Is the approver null or inactive?</label>
        <locationX>1029</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Submit_for_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_approver_information</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_approver_information.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Approvers_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Less_than_or_equal_100k_generic_0</name>
        <label>Less than or equal 100k</label>
        <locationX>1458</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Less_than_or_equal_300k_generic_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_first_level_generic_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NotaFiscal__r.ValorTotal__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_coordinator_approver</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Less_than_or_equal_100k_specialty_0</name>
        <label>Less than or equal 100k</label>
        <locationX>754</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Less_than_or_equal_300k_specialty_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_first_level_specialty_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NotaFiscal__r.ValorTotal__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_coordinator_approver</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Less_than_or_equal_10k_material</name>
        <label>Less than or equal 10k</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Less_than_or_equal_20k_material</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_first_level_material</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NotaFiscal__r.ValorTotal__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_coordinator_approver</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Less_than_or_equal_20k_material</name>
        <label>Less than or equal 20k</label>
        <locationX>204</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Set_approval_comment_material</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_within_second_level_material</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NotaFiscal__r.ValorTotal__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_manager_approver</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Less_than_or_equal_300k_generic_0</name>
        <label>Less than or equal 300k</label>
        <locationX>1612</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Set_approval_comment_material</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_within_second_level_generic_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NotaFiscal__r.ValorTotal__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>300000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_manager_approver</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Less_than_or_equal_300k_specialty_0</name>
        <label>Less than or equal 300k</label>
        <locationX>908</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Set_approval_comment_material</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_within_second_level_specialty_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NotaFiscal__r.ValorTotal__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>300000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_manager_approver</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_category</name>
        <label>Which category?</label>
        <locationX>1029</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Material</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_sector.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Less_than_or_equal_10k_material</targetReference>
            </connector>
            <label>Material</label>
        </rules>
        <rules>
            <name>Specialty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_sector.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Less_than_or_equal_100k_specialty_0</targetReference>
            </connector>
            <label>Specialty</label>
        </rules>
        <rules>
            <name>Generic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_sector.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Less_than_or_equal_100k_generic_0</targetReference>
            </connector>
            <label>Generic</label>
        </rules>
    </decisions>
    <formulas>
        <name>plainApproversIds</name>
        <dataType>String</dataType>
        <expression>{!ApproversIds}</expression>
    </formulas>
    <interviewLabel>Case Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_approver_information</name>
        <label>Get approver information</label>
        <locationX>1029</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_approver_null_or_inactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApproverId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the sector that matches the account and salesrep</description>
        <name>Get_sector</name>
        <label>Get sector</label>
        <locationX>1029</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_category</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_the_approver_null_or_inactive</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Conta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendedor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NotaFiscal__r.Pedido__r.CreatedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Setorizacao__c</object>
        <queriedFields>Categoria__c</queriedFields>
        <queriedFields>Gerente__c</queriedFields>
        <queriedFields>Coordenador__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_User</name>
        <label>Get Standard User</label>
        <locationX>897</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_standard_approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ivan.degani@atrialsaude.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>903</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_sector</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Submit_to_approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Submit_to_approval__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OrderAmountOutOfApprovalScope</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>O valor do pedido é superior a alçada de aprovação!</text>
    </textTemplates>
    <variables>
        <name>ApprovalComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApproversIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
