Git Tests/force-app/main/default/default/flows/Case_Assignar_Responsav_l.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assignar_respons_vel</name>
        <label>Assignar responsável</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.ResponsavelAtendimento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>E_do_atendimento_ao_cliente</name>
        <label>É do atendimento ao cliente?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim_e_atendimento_ao_cliente</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:User.Department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atendimento ao Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atendimento ao Cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignar_respons_vel</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <formulas>
        <name>OwerId</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Owner:User.Department} = &quot;Atendimento ao Cliente&quot;, {!$Record.OwnerId}, {!$Record__Prior.OwnerId})</expression>
    </formulas>
    <interviewLabel>Case Assignar Responsavél {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Assignar Responsavél</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>E_do_atendimento_ao_cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
