Git Tests/force-app/main/default/default/flows/CaseMilestone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_Update</name>
        <label>Add to Update</label>
        <locationX>440</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Close_Milestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Closed_Date</name>
        <label>Closed Date</label>
        <locationX>440</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Close_Milestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>o_mesmo_Departamento</name>
        <label>É o mesmo Departamento?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NÃO</defaultConnectorLabel>
        <rules>
            <name>SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Assigned_department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Assigned_department__c</elementReference>
                </rightValue>
            </conditions>
            <label>SIM</label>
        </rules>
    </decisions>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Case Milestone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Milestone</label>
    <loops>
        <name>Close_Milestone</name>
        <label>Close Milestone</label>
        <locationX>352</locationX>
        <locationY>575</locationY>
        <collectionReference>Milestone</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Closed_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>To_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Milestone</name>
        <label>Milestone</label>
        <locationX>352</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>To_update</name>
        <label>To update</label>
        <locationX>352</locationX>
        <locationY>1031</locationY>
        <inputReference>ToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>o_mesmo_Departamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
</Flow>
