Git Tests/force-app/main/default/default/flows/Chatbot_Get_Order_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remove_non_numeric</name>
        <label>Remove non numeric</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>StringOperationsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_normalized_customer_number</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>strings</name>
            <value>
                <elementReference>CustomersNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>REMOVE_NON_NUMBERS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_customer_number_to_be_normalized</name>
        <label>Add customer number to be normalized</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CustomersNumbers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_non_numeric</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_normalized_customer_number</name>
        <label>Set normalized customer number</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CustomerOrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_non_numeric</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>NormalizeSearchString</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
	SUBSTITUTE(
		SUBSTITUTE({!SearchString},&quot;.&quot;,&quot;&quot;),
	&quot;/&quot;,&quot;&quot;),
&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Chatbot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chatbot - Get Order Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Info</name>
        <label>Ger Order Info</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_customer_number_to_be_normalized</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 4) AND 3 AND 5</filterLogic>
        <filters>
            <field>Numero_da_Nota_Fiscal_Normalizado__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>NormalizeSearchString</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NormalizeSearchString</elementReference>
            </value>
        </filters>
        <filters>
            <field>PedidoPai__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NumeroPedidoCliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NormalizeSearchString</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>OrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CustomerOrderNumber</assignToReference>
            <field>NumeroPedidoCliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TrackURL</assignToReference>
            <field>URLRastreio__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomersNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SearchString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TrackURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
