Git Tests/force-app/main/default/default/flows/Contrato_CriacaoRegistros.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AtribuirValorContrato</name>
        <label>Atribuir valor de contrato</label>
        <locationX>133</locationX>
        <locationY>846</locationY>
        <assignmentItems>
            <assignToReference>ContagemContrato</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerificaRegistrosObterContrato</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NaoRepetirItem</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RepetirItem</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>varAcordoComercial</name>
        <choiceText>Acordo comercial</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>varOperacaoLogistica</name>
        <choiceText>Operação logística (OL)</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>DecisaoCadastrarItens</name>
        <label>Decisão cadastrar itens</label>
        <locationX>849</locationX>
        <locationY>1356</locationY>
        <defaultConnectorLabel>Padrão</defaultConnectorLabel>
        <rules>
            <name>DecisaoSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sim</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FluxoAdicionarProdutos</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>DecisaoNao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nao</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EncerrarCadastro</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExisteContratoTipoRegra</name>
        <label>Existe contrato do tipo de regra</label>
        <locationX>344</locationX>
        <locationY>1104</locationY>
        <defaultConnector>
            <targetReference>CriarContratoAcordoComercial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não possui contrato desse tipo</defaultConnectorLabel>
        <rules>
            <name>ExisteContratoTipo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContagemContrato</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContratoTipoRegraJaExiste</targetReference>
            </connector>
            <label>Existe contrato desse tipo?</label>
        </rules>
    </decisions>
    <description>Fluxo para permitir criar os contratos e os itens do contrato direto, sem a necessidade de concluir a criação do contrato para iniciar a dos itens.</description>
    <dynamicChoiceSets>
        <name>TipoRegra</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TipoRegra__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>dateToday</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Contrato e Item de Contrato - criação de registros {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contrato - Criação de registros</label>
    <loops>
        <name>VerificaRegistrosObterContrato</name>
        <label>Verifica registros obter contrato</label>
        <locationX>350</locationX>
        <locationY>846</locationY>
        <collectionReference>ObterContratoTipoRegra</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuirValorContrato</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ExisteContratoTipoRegra</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Ação para criar o registro de contrato de acordo comercial de acordo com as informações inseridas na tela.</description>
        <name>CriarContratoAcordoComercial</name>
        <label>Criar registro de contrato de acordo comercial</label>
        <locationX>351</locationX>
        <locationY>1354</locationY>
        <assignRecordIdToReference>contractRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>ObterDadosContratoCriado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TelaMensagemErroCriacaoContrato</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObterTipoRegistro.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rascunho</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoRegra__c</field>
            <value>
                <elementReference>TipoRegraTela</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordLookups>
        <name>ObterContratoTipoRegra</name>
        <label>Obter contrato do tipo de regra</label>
        <locationX>349</locationX>
        <locationY>679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaRegistrosObterContrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TipoRegra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoRegraTela</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterDadosClienteContrato</name>
        <label>Obter dados do cliente do contrato</label>
        <locationX>349</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CadastrarContrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterDadosContratoCriado</name>
        <label>Obter dados contrato criado</label>
        <locationX>500</locationX>
        <locationY>1353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TelaSucesso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obter o ID do tipo de registro de contrato</description>
        <name>ObterTipoRegistro</name>
        <label>Obter tipo de registro</label>
        <locationX>349</locationX>
        <locationY>531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterContratoTipoRegra</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CadastrarContrato</name>
        <label>Cadastrar contrato</label>
        <locationX>348</locationX>
        <locationY>394</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ObterTipoRegistro</targetReference>
        </connector>
        <fields>
            <name>CadastrarContrato_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CadastrarContrato_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Nome da conta</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>ObterDadosClienteContrato.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CadastrarContrato_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TipoRegraTela</name>
                    <choiceReferences>TipoRegra</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo da regra</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ContratoTipoRegraJaExiste</name>
        <label>Contrato desse tipo de regra já existe</label>
        <locationX>50</locationX>
        <locationY>1105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErroTipoRegra</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;O cliente &lt;b&gt;{!Account.recordName}&lt;/b&gt; já possui um contrato do tipo &lt;b&gt;{!TipoRegraTela}&lt;/b&gt;.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EncerrarCadastro</name>
        <label>Encerrar cadastro</label>
        <locationX>858</locationX>
        <locationY>1614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CadastroContratoFinalizado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Cadastro finalizado com sucesso.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaMensagemErroCriacaoContrato</name>
        <label>Tela mensagem de erro da criação de contrato</label>
        <locationX>129</locationX>
        <locationY>1354</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemErroCriacaoOperacaoLogisitica</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Ocorreu um erro durante a criação do registro.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Entre em contato com o administrador do sistema para obter mais informações.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaSucesso</name>
        <label>Tela Sucesso</label>
        <locationX>677</locationX>
        <locationY>1353</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisaoCadastrarItens</targetReference>
        </connector>
        <fields>
            <name>MensagemSucesso</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;O contrato &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ObterDadosContratoCriado.ContractNumber}&lt;/b&gt;&lt;b&gt; &lt;/b&gt;foi criado com sucesso.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpcaoCadastrarItem</name>
            <choiceReferences>Sim</choiceReferences>
            <choiceReferences>Nao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deseja cadastrar os itens do contrato?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>&lt;p&gt;{!CadastroContratoFinalizado}&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>223</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ObterDadosClienteContrato</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>FluxoAdicionarProdutos</name>
        <label>Fluxo adicionar produtos</label>
        <locationX>1060</locationX>
        <locationY>1351</locationY>
        <flowName>ItemContrato_CriacaoRegistros</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>contractRecordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ContagemContrato</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContagemProdutos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>contractRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Contrato</stringValue>
        </value>
    </variables>
</Flow>
