Git Tests/force-app/main/default/default/flows/EncerramentoDeCasoFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <formulas>
        <name>Bypass</name>
        <dataType>Boolean</dataType>
        <expression>!{!$Record.BypassValidationRules__c}</expression>
    </formulas>
    <interviewLabel>Encerramento de Caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Encerramento de Caso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateStatusClosed</name>
        <label>UpdateStatusClosed</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>BypassValidationRules__c</field>
            <value>
                <elementReference>Bypass</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatusClosedReopened</name>
        <label>UpdateStatusClosedReopened</label>
        <locationX>440</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>BypassValidationRules__c</field>
            <value>
                <elementReference>Bypass</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>UpdateStatus</name>
            <connector>
                <targetReference>UpdateStatusClosed</targetReference>
            </connector>
            <label>Update Status</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>FinishedDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>UpdateStatusReview</name>
            <connector>
                <targetReference>UpdateStatusClosedReopened</targetReference>
            </connector>
            <label>Update Status Review</label>
            <offsetNumber>72</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>ReopeningFinishedDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
