Git Tests/force-app/main/default/default/flows/EnderecoEntrega_CriarRegistros.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AcaoBuscarCEP</name>
        <label>Ação buscar CEP</label>
        <locationX>353</locationX>
        <locationY>213</locationY>
        <actionName>ViaCepBO</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TelaCadastroEnderecoEntrega</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>lCEP</name>
            <value>
                <elementReference>BuscaCEP</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>saidaBairro</assignToReference>
            <name>bairro</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>saidaCEP</assignToReference>
            <name>cep</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>saidaCidade</assignToReference>
            <name>localidade</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>saidaLogradouro</assignToReference>
            <name>logradouro</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>saidaEstado</assignToReference>
            <name>uf</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Endereço de Entrega - Criar registros {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Endereço de Entrega - Criar registros</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriarEnderecoEntrega</name>
        <label>Criar endereço de entrega</label>
        <locationX>703</locationX>
        <locationY>213</locationY>
        <connector>
            <targetReference>TelaSucesso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TelaMensagemFalha</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Bairro__c</field>
            <value>
                <elementReference>Bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>CEP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cidade__c</field>
            <value>
                <elementReference>Cidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>Cliente.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complemento__c</field>
            <value>
                <elementReference>Complemento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>Estado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logradouro__c</field>
            <value>
                <elementReference>Logradouro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NomeEndereco</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero__c</field>
            <value>
                <elementReference>Numero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pais__c</field>
            <value>
                <elementReference>Pais</elementReference>
            </value>
        </inputAssignments>
        <object>EnderecoEntrega__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>TelaBuscarCEP</name>
        <label>Tela buscar CEP</label>
        <locationX>175</locationX>
        <locationY>213</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AcaoBuscarCEP</targetReference>
        </connector>
        <fields>
            <name>TelaBuscarCEP_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TelaBuscarCEP_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BuscaCEP</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>00000-000</stringValue>
                    </defaultValue>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Exemplo: 00000-000&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TelaBuscarCEP_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaCadastroEnderecoEntrega</name>
        <label>Tela cadastro endereço entrega</label>
        <locationX>526</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CriarEnderecoEntrega</targetReference>
        </connector>
        <fields>
            <name>NomeEndereco</name>
            <dataType>String</dataType>
            <fieldText>Nome de Endereço</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cliente</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>EnderecoEntrega__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cliente</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Cliente__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Logradouro</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>saidaLogradouro</elementReference>
            </defaultValue>
            <fieldText>Logradouro</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TelaCadastroEnderecoEntrega_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TelaCadastroEnderecoEntrega_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Numero</name>
                    <dataType>String</dataType>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Bairro</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>saidaBairro</elementReference>
                    </defaultValue>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Cidade</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>saidaCidade</elementReference>
                    </defaultValue>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TelaCadastroEnderecoEntrega_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Complemento</name>
                    <dataType>String</dataType>
                    <fieldText>Complemento</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CEP</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>saidaCEP</elementReference>
                    </defaultValue>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Estado</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>saidaEstado</elementReference>
                    </defaultValue>
                    <fieldText>Estado</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pais</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Brasil</stringValue>
            </defaultValue>
            <fieldText>País</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaMensagemFalha</name>
        <label>Tela mensagem falha</label>
        <locationX>702</locationX>
        <locationY>436</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemFalha</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Ocorreu um erro durante o processo.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Entre em contato com o administrador do sistema para obter mais informações.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaSucesso</name>
        <label>Tela sucesso</label>
        <locationX>890</locationX>
        <locationY>213</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemSucesso</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Endereço de entrega cadastrado com sucesso.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>TelaBuscarCEP</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>saidaBairro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>saidaCEP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>saidaCidade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>saidaEstado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>saidaLogradouro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
