Git Tests/force-app/main/default/default/flows/FinalizacaoDeCasoFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FinalizacaoCaso_0</name>
        <label>FinalizacaoCaso</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <actionName>Case.AlertaFinalizacaoCaso</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FinalizacaoCasoAtendimento_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FinalizacaoCasoAtendimento_0</name>
        <label>FinalizacaoCasoAtendimento</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <actionName>Case.AlertaFinalizacaoCasoAtendimento</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FinalizacaoCasoAtendimento_0_0</name>
        <label>FinalizacaoCasoAtendimento</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>Case.AlertaFinalizacaoCasoAtendimento</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Matriz de decisão para direcionar o envio, ou não, do NPS do Caso para o Cliente.</description>
        <name>ProcessoInterno</name>
        <label>Processo Interno?</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>FinalizacaoCaso_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Razao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pedido não faturado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Razao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Faturamento Pedido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Razao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cotação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Troca de Data de Entrega</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fiscal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Erro no Cadastro Produto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inconsistência Geral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Submotivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cadastro do Produto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinalizacaoCasoAtendimento_0_0</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Automação criada para notificar os envolvidos em determinado Caso que ele foi &quot;Finalizado&quot;</description>
    <formulas>
        <name>Bypass</name>
        <dataType>Boolean</dataType>
        <expression>!{!$Record.BypassValidationRules__c}</expression>
    </formulas>
    <interviewLabel>Finalização de Caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Finished</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Close_case</name>
        <label>Close case</label>
        <locationX>468</locationX>
        <locationY>983</locationY>
        <inputAssignments>
            <field>BypassValidationRules__c</field>
            <value>
                <elementReference>Bypass</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProcessoInterno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </filters>
        <filters>
            <field>ClosedDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Update_Status</name>
            <connector>
                <targetReference>Close_case</targetReference>
            </connector>
            <label>Update Status</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>FinishedDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Update_Status_Review</name>
            <connector>
                <targetReference>Close_case</targetReference>
            </connector>
            <label>Update Status Review</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>ReopeningFinishedDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>E-mail criado para informar os membros do time de Atendimento ao Cliente, que determinado Caso foi finalizado.</description>
        <name>FinalizacaoCasoAtendimentoBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Olá!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Informamos que o caso de número {!$Record.CaseNumber}, referente ao cliente {!$Record.AccountId} foi finalizado.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Equipe de Atendimento ao Cliente,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Grupo Elfa&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FinalizacaoCasoAtendimentoSubjectBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Notificação de Caso finalizado!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>E-mail criado, com a intenção de informar o SOLICITANTE que o caso aberto por ele foi finalizado e que, a partir da data de finalização, ele possui 72 horas para abrir novamente a ocorrência, caso ele não concorde com a solução dada.</description>
        <name>FinalizacaoCasoBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Prezado {!$Record.ResponsavelAbertura__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Sua solicitação que consta sob o protocolo de número {!$Record.CaseNumber} foi finalizada. Esperamos que a resolução tenha sido de acordo com sua expectativa.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Caso não esteja satisfeito, você tem até 72 horas para contestar a resolução da sua solicitação. Para tal, responda esse e-mail.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Atenciosamente,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Equipe de Atendimento ao Cliente&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Grupo Elfa&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FinalizacaoCasoSubjectBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Notificação de Caso finalizado!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
