Git Tests/force-app/main/default/default/flows/ItemContrato_CriacaoRegistros.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>NaoRepetirItem</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RepetirItem</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>DataVigenciaAtual</name>
        <label>Data vigência</label>
        <locationX>988</locationX>
        <locationY>1649</locationY>
        <defaultConnector>
            <targetReference>ErroDataVigencia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Erro data vigência</defaultConnectorLabel>
        <rules>
            <name>DataVigencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VigenciaInicialTela</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>dateToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CriarItemContrato</targetReference>
            </connector>
            <label>Data vigência &gt; que atual?</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoRepetirCadastroItem</name>
        <label>Decisão repetir cadastro do item</label>
        <locationX>708</locationX>
        <locationY>1462</locationY>
        <defaultConnectorLabel>Padrão</defaultConnectorLabel>
        <rules>
            <name>DecisaoRepetirItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RepetirItem</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CadastrarItemContrato</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>DecisaoNaoRepetirItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NaoRepetirItem</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EncerrarCadastro</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProdutoCadastrado</name>
        <label>Produto já cadastrado?</label>
        <locationX>706</locationX>
        <locationY>1649</locationY>
        <defaultConnector>
            <targetReference>DataVigenciaAtual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Produto não cadastrado</defaultConnectorLabel>
        <rules>
            <name>ProdutoCadastradoCliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterItensContrato</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaMensagemProdutoCadastrado</targetReference>
            </connector>
            <label>Produto cadastrado nesse cliente</label>
        </rules>
    </decisions>
    <description>Fluxo para permitir incluir itens em um contrato já existente.</description>
    <formulas>
        <name>dateToday</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>TipoRegraContrato</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!ObterItensContrato.NumeroContrato__r.TipoRegra__c}, &quot;A&quot;), &quot;Acordo Comercial&quot;, &quot;Contrato OL&quot;)</expression>
    </formulas>
    <interviewLabel>Item de contrato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Item de contrato - Criação de registros</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriarItemContrato</name>
        <label>Criar item do contrato</label>
        <locationX>1260</locationX>
        <locationY>1641</locationY>
        <connector>
            <targetReference>TelaSucessoItem</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TelaMensagemErroCriacaoItem</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>NomeProduto__c</field>
            <value>
                <elementReference>Product2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroContrato__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PercentualDescontoBoleto__c</field>
            <value>
                <elementReference>PercentualDescontoBoleto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrecoMinimo__c</field>
            <value>
                <elementReference>PrecoCompraTela</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrecoUnitario__c</field>
            <value>
                <elementReference>PrecoUnitarioTela</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade__c</field>
            <value>
                <elementReference>QuantidadeTela</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rascunho</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VigenciaFinal__c</field>
            <value>
                <elementReference>VigenciaFinalTela</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VigenciaInicial__c</field>
            <value>
                <elementReference>VigenciaInicialTela</elementReference>
            </value>
        </inputAssignments>
        <object>ItemContrato__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ObterDadosContrato</name>
        <label>Obter dados contrato</label>
        <locationX>374</locationX>
        <locationY>1304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CadastrarItemContrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterItensContrato</name>
        <label>Obter itens de contrato</label>
        <locationX>374</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProdutoCadastrado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterDadosContrato.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NomeProduto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product2.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expirado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reprovado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ItemContrato__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CadastrarItemContrato</name>
        <label>Cadastrar item do contrato</label>
        <locationX>376</locationX>
        <locationY>1460</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ObterItensContrato</targetReference>
        </connector>
        <fields>
            <name>CadastrarItemContrato_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CadastrarItemContrato_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VigenciaInicialTela</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>dateToday</elementReference>
                    </defaultValue>
                    <fieldText>Vigência inicial</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CadastrarItemContrato_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VigenciaFinalTela</name>
                    <dataType>Date</dataType>
                    <fieldText>Vigência final</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CadastrarItemContrato_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CadastrarItemContrato_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product2</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>NomeProduto__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ItemContrato__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Nome do produto</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CadastrarItemContrato_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CadastrarItemContrato_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QuantidadeTela</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CadastrarItemContrato_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PercentualDescontoBoleto</name>
                    <dataType>Number</dataType>
                    <fieldText>% de desconto no boleto</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ObterDadosContrato.TipoRegra__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>O</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CadastrarItemContrato_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CadastrarItemContrato_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PrecoUnitarioTela</name>
                    <dataType>Currency</dataType>
                    <fieldText>Preço unitário</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>6</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;O valor não pode ser menor ou igual a zero.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!PrecoUnitarioTela} &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CadastrarItemContrato_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PrecoCompraTela</name>
                    <dataType>Currency</dataType>
                    <fieldText>Preço compra</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>6</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EncerrarCadastro</name>
        <label>Encerrar cadastro</label>
        <locationX>716</locationX>
        <locationY>1267</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CadastroContratoFinalizado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Cadastro finalizado com sucesso.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErroDataVigencia</name>
        <label>Erro data vigência &lt; data de hoje</label>
        <locationX>996</locationX>
        <locationY>1896</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextoErroVigencia</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;﻿&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;A data de vigência inicial não pode ser anterior à data de hoje.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaMensagemErroCriacaoItem</name>
        <label>Tela mensagem de erro da criação do item.</label>
        <locationX>1261</locationX>
        <locationY>1889</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemErroCriacaoItem</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Ocorreu um erro durante a criação do registro.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Entre em contato com o administrador do sistema para obter mais informações.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaMensagemProdutoCadastrado</name>
        <label>Tela mensagem produto cadastrado</label>
        <locationX>716</locationX>
        <locationY>1902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemProdutoCadastrado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;O cliente &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!ObterDadosContrato.Account.Name} &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;já possui um {!TipoRegraContrato} com o produto &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!ObterItensContrato.NomeProduto__r.Name} &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;com o status &quot;{!ObterItensContrato.Status__c}&quot;. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaSucessoItem</name>
        <label>Tela sucesso de item</label>
        <locationX>1256</locationX>
        <locationY>1460</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoRepetirCadastroItem</targetReference>
        </connector>
        <fields>
            <name>TelaItem</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;O produto &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Product2.recordName}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; foi incluído no contrato &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ObterDadosContrato.ContractNumber}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; com sucesso.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpcaoRepetirItem</name>
            <choiceReferences>RepetirItem</choiceReferences>
            <choiceReferences>NaoRepetirItem</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deseja cadastrar mais um produto?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>248</locationX>
        <locationY>1148</locationY>
        <connector>
            <targetReference>ObterDadosContrato</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
