Git Tests/force-app/main/default/default/flows/Orcamento_ClonarRegistro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AbrirRegistroClonado</name>
        <label>Abrir registro clonado</label>
        <locationX>798</locationX>
        <locationY>559</locationY>
        <actionName>c:openRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>outputValue</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>AcaoClonarOrcamento</name>
        <label>Ação clonar orçamento</label>
        <locationX>607</locationX>
        <locationY>558</locationY>
        <actionName>CloneOpportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AbrirRegistroClonado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>MensagemdeErro</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accId</name>
            <value>
                <elementReference>ObterDadosOrcamento.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oppId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>outputValue</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>StringNao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>StringSim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>DecisaoClonarOrcamento</name>
        <label>Clonar orçamento?</label>
        <locationX>398</locationX>
        <locationY>463</locationY>
        <defaultConnectorLabel>Padrão</defaultConnectorLabel>
        <rules>
            <name>DecisaoSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StringSim</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcaoClonarOrcamento</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>DecisaoNao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StringNao</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrcamentoNaoFoiClonado</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <description>Fluxo que permite clonar o orçamento aberto na tela do usuário.</description>
    <interviewLabel>Orçamento - Clonar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orçamento - Clonar registro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObterDadosOrcamento</name>
        <label>Obter dados do orçamento</label>
        <locationX>222</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TelaClonarOrcamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Ocorreu um erro durante a criação do registro.



Entre em contato com o administrador do sistema para obter mais informações.</description>
        <name>MensagemdeErro</name>
        <label>Mensagem de erro</label>
        <locationX>603</locationX>
        <locationY>761</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemdeErro1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Ocorreu um erro durante a clonagem do registro.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Entre em contato com o administrador do sistema para obter mais informações.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OrcamentoNaoFoiClonado</name>
        <label>Orçamento não foi clonado</label>
        <locationX>608</locationX>
        <locationY>356</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OrcamentoNaoClonado</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;O orçamento não foi clonado.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaClonarOrcamento</name>
        <label>Tela clonar orçamento</label>
        <locationX>222</locationX>
        <locationY>461</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoClonarOrcamento</targetReference>
        </connector>
        <fields>
            <name>ClonarOrcamento</name>
            <choiceReferences>StringSim</choiceReferences>
            <choiceReferences>StringNao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deseja clonar este orçamento?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>96</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>ObterDadosOrcamento</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
