Git Tests/force-app/main/default/default/flows/Orcamento_BotaoGerarPDF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Gerar_PDF_Or_amento</name>
        <label>Gerar PDF Orçamento</label>
        <locationX>1383</locationX>
        <locationY>572</locationY>
        <actionName>OpportunityCreatePDF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TelaMensagemSucesso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TelaMensagemErro</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfChoice</name>
            <value>
                <elementReference>escolhaPDF</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productCode</name>
            <value>
                <elementReference>GetRecommendation</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetRecommendation</name>
        <label>Get Recommendation</label>
        <locationX>672</locationX>
        <locationY>161</locationY>
        <actionName>RecommendationsService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Pdf_Custom_ou_Default</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>oppIdList</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Load_classe_pdf</name>
        <label>Load classe pdf</label>
        <locationX>1310</locationX>
        <locationY>151</locationY>
        <actionName>GeneratePDFService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TelaMensagemSucesso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TelaMensagemErro</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>landscape</name>
            <value>
                <elementReference>Imprimir_como_paisagem</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfChoice</name>
            <value>
                <elementReference>recChoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productCode</name>
            <value>
                <elementReference>GetRecommendation</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Pdf_Custom_ou_Default</name>
        <label>Pdf Custom ou Default?</label>
        <locationX>845</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>Gerar_PDF_Or_amento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PdfCustom_ou_Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>escolhaPDF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ElfaQuoteRecommendationTemplate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_classe_pdf</targetReference>
            </connector>
            <label>Pdf Custom ou Default?</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusGeraPDF</name>
        <label>Status gera PDF?</label>
        <locationX>356</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>TelNaoPermiteGerarPDF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não permite gerar PDF</defaultConnectorLabel>
        <rules>
            <name>PermiteGerarPDF</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObterDadosOrcamento.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprovado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterDadosOrcamento.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fechado/Gerado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ModeloPDF</targetReference>
            </connector>
            <label>Permite gerar PDF</label>
        </rules>
    </decisions>
    <description>Fluxo para solicitar a geração do orçamento em formato PDF e encaminhar para a aba &quot;Notas e anexos&quot;</description>
    <dynamicChoiceSets>
        <name>recChoice</name>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>TemplatePDF__c</object>
        <outputAssignments>
            <assignToReference>escolhaPDF</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Orçamento - Botão para gerar PDF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orçamento - Botão para gerar PDF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObterDadosOrcamento</name>
        <label>Obter dados do orçamento</label>
        <locationX>175</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StatusGeraPDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ModeloPDF</name>
        <label>Modelo de PDF</label>
        <locationX>537</locationX>
        <locationY>297</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetRecommendation</targetReference>
        </connector>
        <fields>
            <name>SelecioneModelo</name>
            <choiceReferences>recChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o modelo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Imprimir_como_paisagem</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Imprimir como paisagem?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>SelecioneModelo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ElfaQuoteRecommendationTemplate</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaMensagemErro</name>
        <label>Tela mensagem de erro</label>
        <locationX>1095</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MensagemErro</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Ocorreu um erro durante a solicitação.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Entre em contato com o administrador do sistema para obter mais informações.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaMensagemSucesso</name>
        <label>Tela mensagem de sucesso</label>
        <locationX>1383</locationX>
        <locationY>325</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>GerarPDF</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Orçamento em PDF gerado com sucesso.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;O arquivo encontra-se disponível na aba &quot;Notas e anexos&quot;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelNaoPermiteGerarPDF</name>
        <label>Tela não permite gerar PDF</label>
        <locationX>365</locationX>
        <locationY>483</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemNaoPermiteGerarPDF</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Não é possível gerar PDF de orçamento com status {!ObterDadosOrcamento.StageName}.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ObterDadosOrcamento</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>escolhaPDF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
