Git Tests/force-app/main/default/default/flows/Orcamento_ProrrogarDataValidade.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AcaoProrrogar</name>
        <label>Ação prorrogar</label>
        <locationX>496</locationX>
        <locationY>601</locationY>
        <actionName>CalcBusinessDays</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TelasMensagemSucesso</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>oppIdSet</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Data_Vencimento</name>
        <label>Data Vencimento</label>
        <locationX>157</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>DecisaoProrrogacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Data Ok</defaultConnectorLabel>
        <rules>
            <name>DataErro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterQuantidadeProrrogamentos.CloseDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NaoProrrogar</targetReference>
            </connector>
            <label>DataErro</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoProrrogacao</name>
        <label>Decisão de prorrogação</label>
        <locationX>152</locationX>
        <locationY>593</locationY>
        <defaultConnector>
            <targetReference>AcaoProrrogar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prorrogação permitida</defaultConnectorLabel>
        <rules>
            <name>ProrrogacaoNaoPermitida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterQuantidadeProrrogamentos.QuantidadeProrrogamentos__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaMensagemErro</targetReference>
            </connector>
            <label>Prorrogação não permitida</label>
        </rules>
    </decisions>
    <description>Fluxo para permitir prorrogar a data de validade de um orçamento por até cinco vezes.</description>
    <interviewLabel>Orçamento - prorrogar data de validade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orçamento - Prorrogar data de validade</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObterQuantidadeProrrogamentos</name>
        <label>Obter quantidade de prorrogamentos</label>
        <locationX>168</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_Vencimento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Não</description>
        <name>NaoProrrogar</name>
        <label>NaoProrrogar</label>
        <locationX>519</locationX>
        <locationY>286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Mensagem</name>
            <fieldText>&lt;p&gt;Não é possível prorrogar orçamento vencido&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaMensagemErro</name>
        <label>Tela mensagem de erro</label>
        <locationX>567</locationX>
        <locationY>439</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemErro1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Não é possível prorrogar um orçamento mais do que cinco vezes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelasMensagemSucesso</name>
        <label>Tela mensagem de sucesso</label>
        <locationX>722</locationX>
        <locationY>602</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProrrogamentoConcluido</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Prorrogação do orçamento concluída com sucesso.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>68</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>ObterQuantidadeProrrogamentos</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
