Git Tests/force-app/main/default/default/flows/Pedido_ClonarRegistro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AbrirRegistroClonado</name>
        <label>Abrir registro clonado</label>
        <locationX>818</locationX>
        <locationY>557</locationY>
        <actionName>c:openRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>outputValue</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>AcaoClonarPedido</name>
        <label>Ação clonar pedido</label>
        <locationX>651</locationX>
        <locationY>556</locationY>
        <actionName>CloneOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AbrirRegistroClonado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TelaMensagemErro</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accId</name>
            <value>
                <elementReference>ObterDadosPedido.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>outputValue</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>StringNao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>Recurso para armazenar o valor &quot;Sim&quot;</description>
        <name>StringSim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>DecisaoClonarPedido</name>
        <label>Clonar pedido?</label>
        <locationX>417</locationX>
        <locationY>448</locationY>
        <defaultConnector>
            <targetReference>TelaPedidoNaoClonado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>DecisaoSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StringSim</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcaoClonarPedido</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Fluxo que permite clonar o pedido aberto na tela do usuário.</description>
    <interviewLabel>Pedido {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pedido - Clonar registro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObterDadosPedido</name>
        <label>Obter dados do pedido</label>
        <locationX>222</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clonar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clonar</name>
        <label>Tela clonar pedido</label>
        <locationX>222</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoClonarPedido</targetReference>
        </connector>
        <fields>
            <name>ClonarPedido</name>
            <choiceReferences>StringSim</choiceReferences>
            <choiceReferences>StringNao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deseja clonar este pedido?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Entre em contato com o administrador do sistema para obter mais informações.</description>
        <name>TelaMensagemErro</name>
        <label>Tela mensagem de erro</label>
        <locationX>651</locationX>
        <locationY>737</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemdeErro1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Ocorreu um erro durante a clonagem do registro.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Entre em contato com o administrador do sistema para obter mais informações.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaPedidoNaoClonado</name>
        <label>Tela pedido não clonado</label>
        <locationX>644</locationX>
        <locationY>331</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PedidoNaoClonado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;O pedido {!ObterDadosPedido.OrderNumber} não foi clonado.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>96</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>ObterDadosPedido</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
