Git Tests/force-app/main/default/default/flows/PedidoBotaoPDF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GerarPDFPedido</name>
        <label>Gerar PDF Pedido</label>
        <locationX>716</locationX>
        <locationY>242</locationY>
        <actionName>OrderCreatePDF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TelaMensagemSucesso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TelaMensagemErro</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfChoice</name>
            <value>
                <elementReference>IdModeloOpcao</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>ModeloNacional</name>
        <choiceText>Modelo Nacional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ModeloNacional</stringValue>
        </value>
    </choices>
    <choices>
        <name>ModeloProcifar</name>
        <choiceText>Modelo Procifar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ModeloProcifar</stringValue>
        </value>
    </choices>
    <decisions>
        <name>StatusGeraPDF</name>
        <label>Status gera PDF?</label>
        <locationX>335</locationX>
        <locationY>250</locationY>
        <defaultConnector>
            <targetReference>TelaNaoPermiteGerarPDF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não permite gerar PDF</defaultConnectorLabel>
        <rules>
            <name>PermiteGerarPDF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterDadosPedido.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Em digitação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterDadosPedido.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pai - Em aprovação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterDadosPedido.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ModeloPDF</targetReference>
            </connector>
            <label>Permite gerar PDF</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>recChoice</name>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <object>TemplatePDF__c</object>
        <outputAssignments>
            <assignToReference>IdModeloOpcao</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Pedido - Botão para gerar PDF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pedido - Botão para gerar PDF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObterDadosPedido</name>
        <label>Obter dados do pedido</label>
        <locationX>176</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StatusGeraPDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ModeloPDF</name>
        <label>Modelo de PDF</label>
        <locationX>553</locationX>
        <locationY>243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GerarPDFPedido</targetReference>
        </connector>
        <fields>
            <name>ListaOpcoes</name>
            <choiceReferences>recChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o modelo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaMensagemErro</name>
        <label>Tela mensagem de erro</label>
        <locationX>717</locationX>
        <locationY>443</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MensagemErro</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Ocorreu um erro durante a solicitação.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Entre em contato com o administrador do sistema para obter mais informações.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaMensagemSucesso</name>
        <label>Tela mensagem de sucesso</label>
        <locationX>880</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GerarPDF</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Pedido em PDF gerado com sucesso.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;O arquivo encontra-se disponível na aba &quot;Notas e anexos&quot;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaNaoPermiteGerarPDF</name>
        <label>Tela não permite gerar PDF</label>
        <locationX>343</locationX>
        <locationY>438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemNaoPermiteGerarPDF</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Não é possível gerar PDF de pedido com status {!ObterDadosPedido.Status}.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>ObterDadosPedido</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdModeloOpcao</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
